<!DOCTYPE html>
<html>

<body>

<div class="container">
<h2>Database Schema</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li>
            <%= r %>
        </li>
    <% }); %>
</ul>

</div>

</body>
</html>